@import "variables.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "PFEncoreSansPro-Bold";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PFEncoreSansPro-Bold.woff2") format("woff2"), url("../fonts/PFEncoreSansPro-Bold.woff.woff") format("woff");
}

@font-face {
  font-family: "PFEncoreSansPro-Light";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PFEncoreSansPro-Light.woff2") format("woff2"), url("../fonts/PFEncoreSansPro-Light.woff.woff") format("woff");
}

@font-face {
  font-family: "PFEncoreSansPro-Medium";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PFEncoreSansPro-Medium.woff2") format("woff2"), url("../fonts/PFEncoreSansPro-Medium.woff.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-family: "PFEncoreSansPro-Light", "Arial", sans-serif;
  color: #283645;
  overflow-x: hidden;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
img {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 1260px;
  margin: 0 auto;
}

.btn {
  width: 206px;
  padding: 12px 0;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #fc635e;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fc635e;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    color: #ffffff;
    background-color: rgba(252, 99, 94, 1);
    border: 2px solid #ffffff;
  }
}

.ref__down {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.up-button {
  position: fixed;
  width: 54px;
  height: 54px;
  padding: 0;
  display: none;
  bottom: 50%;
  right: 20px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background: url("../img/icon__link-down.png") no-repeat;
  background-position: 47% 50%;
  background-color: #ffffff;
  border: 5px solid #fc635e;
  border-radius: 50%;
  outline: none;
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 1;

  &:hover,
  &:focus {
    background: url("../img/icon__link-down-white.png") no-repeat;
    background-position: 47% 50%;
  }
}

.up-button--shown {
  display: inline-block;
}
