.footer__wrap {
  height: 215px;
  background: url("../img/footer__bg.png") no-repeat, #585858;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.footer__link {
  margin: 75px 480px 0;
  padding: 0 58px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
  font-family: "PFEncoreSansPro-Bold", "Arial", sans-serif;
  text-decoration: none;
  color: #ffffff;
}

.footer__span {
  margin-left: 20px;
}
