.slider__wrap {
  position: relative;
  padding: 0 160px;
  background: url("../img/icon__quotes.svg") no-repeat, url("../img/hex__small.svg") no-repeat, url("../img/hex__big.svg") no-repeat;
  background-size: 34px 29px, 67px 77px, 74px 86px;
  background-position: center 80px, center 59px, center 55px;
  border-top: 1px solid rgba(255, 255, 255, 0);
}

.slider__list {
  margin-top: 214px;
  list-style-type: none;
}

.slider__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__paragraph {
  width: 320px;
  font-size: 15px;
  line-height: 21px;
  color: #767676;
}

.slider__container {
  width: 320px;
}

.slider__title {
  font-size: 28px;
  line-height: 41px;
  font-family: "PFEncoreSansPro-Medium", "Arial", sans-serif;
  color: #818181;
}

.slider__span {
  color: #fc635e;
}

.slider__text {
  font-size: 20px;
  line-height: 41px;
  color: #818181;
}

.slider__pic {
  position: relative;
  width: 161px;
  height: 185px;
  display: flex;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.slider__img {
  position: absolute;
  top: -6px;
  left: -17px;
  display: block;
  object-fit: cover;
}

.slider__controls {
  width: 92px;
  margin: 50px auto 0;
}

.slider__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #fc635e;
  cursor: pointer;
  outline: none;
}

.slider__btn--left {
  margin-right: 13px;
  background: url("../img/btn__left.png") no-repeat, #ffffff;
  background-position: center;
}

.slider__btn--right {
  margin-left: 13px;
  background: url("../img/btn__right.png") no-repeat, #ffffff;
  background-position: center;
}
