.team__wrap {
  padding: 52px 160px 10px;
  background: #f2f2f2;
}

.team__head {
  font-size: 28px;
  line-height: 28px;
  font-family: "PFEncoreSansPro-Medium", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #565656;
}

.team__span {
  font-family: "PFEncoreSansPro-Medium", "Arial", sans-serif;
  color: #fc635e;
}

.team__list {
  margin-top: 80px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.team__item {
  width: 280px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__item:nth-child(2) {
  width: 300px;
}

.team__title {
  margin-top: 25px;
  font-size: 28px;
  line-height: 28px;
  font-family: "PFEncoreSansPro-Light", "Arial", sans-serif;
  color: #565656;

  .team__span {
    font-family: inherit;
  }
}

.team__paragraph {
  margin-top: 5px;
  font-size: 20px;
  line-height: 34px;
}

.team__pic {
  position: relative;
  width: 147px;
  height: 171px;
  display: flex;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.team__img {
  position: absolute;
  display: block;
  object-fit: cover;
}

.team__img--tb {
  left: -28px;
}

.team__img--st {
  left: -15px;
}

.team__img--hj {
  left: -10px;
}

.team__social {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.team__link {
  margin: 0 9px;
  position: relative;
  width: 37px;
  height: 37px;
  background: #565656;
  border-radius: 50%;

  &:hover {
    background: #fc635e;
  }
}

.team__svg {
  position: absolute;
  fill: #ffffff;
}

.team__svg--tw {
  top: 8px;
  left: 8px;
  width: 23px;
  height: 23px;
}

.team__svg--fb {
  top: 7px;
  left: 7px;
  width: 23px;
  height: 23px;
}

.team__svg--in {
  top: 5px;
  left: 8px;
  width: 22px;
  height: 22px;
}

.team__ref {
  margin-top: 70px;
}
